%h2 システム仕様説明書

%h3 目的
%p チームメンバーの出欠席を容易に管理したい!
%div ・キャプテンがメンバーの全員のメールレスポンスを待ってエクセルで管理することがなくなります
%div ・複数回分まとめて開催日を連絡報告しなくて済みます
%div ・結局今日はどのメンバーが参加するの？がすぐわかります！
%br
%p チームメンバーが容易に出欠席報告をしたい！
%div ・開催日を一覧で見れます
%div ・全部で３クリックで出欠席連絡ができる！
%div ・急な予定変更で急遽欠席でもリアルタイムで連絡できる！

%h3 機能一覧


%h2 連絡先
%h2 機能追加履歴


