%h3 システム仕様説明書
%div
%h4 ##目的
%p チームメンバーの出欠席を容易に管理したい!
%ul
  %li キャプテンがメンバーの全員のメールレスポンスを待ってエクセルで管理することがなくなります
  %li 複数回分まとめて開催日を連絡報告しなくて済みます
  %li 結局今日はどのメンバーが参加するの？がすぐわかります！
%br
%p チームメンバーが容易に出欠席報告をしたい！
%ul
  %li 開催日を一覧で見れます
  %li 全部で３クリックで出欠席連絡ができる！
  %li 急な予定変更で急遽欠席でもリアルタイムで連絡できる！

%h4 ##機能一覧

%ul
  %li 出欠席連絡
  %li 開催内容閲覧
  %li


%h4 ##連絡先

%div
  = "bug発生時連絡先(下記いずれか、いずれも長濱宛て)"
%div
  = "sr.m.tigers@gmail.com / h1r0naga1987@gmail.com"

%h4 ##機能追加履歴

%div
  %p 機能要望がありましたら、長濱までご連絡ください。


